{
  "ignorePatterns": [
    "/node_modules"
  ],
  "extends": [
    "@remix-run/eslint-config",
    "@remix-run/eslint-config/node",
    "@remix-run/eslint-config/jest-testing-library",
    "plugin:import/recommended",
    "plugin:import/typescript",
    "prettier",
    "plugin:css-modules/recommended"
  ],
  "plugins": [
    "prettier",
    "import",
    "css-modules"
  ],
  "rules": {
    "jsx-a11y/label-has-associated-control": [
      "error",
      {
        "assert": "either"
      }
    ],
    "jsx-a11y/label-has-for": [
      2,
      {
        "required": {
          "some": [
            "nesting",
            "id"
          ]
        },
        "allowChildren": false
      }
    ],
    "import/namespace": [
      "error",
      {
        "allowComputed": true
      }
    ],
    "prettier/prettier": [
      "error",
      {
        "bracketSpacing": true,
        "arrowParens": "always",
        "printWidth": 80,
        "semi": false,
        "singleQuote": true,
        "trailingComma": "all"
      }
    ],
    "import/order": [
      "error",
      {
        "newlines-between": "always",
        "alphabetize": {
          "order": "asc",
          "caseInsensitive": true
        }
      }
    ],
    "css-modules/no-unused-class": 0
  }
}